@import url("https://fonts.googleapis.com/css?family=Lekton|Oswald:400,600&subset=latin-ext");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, table,
caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

:focus {
  outline: 0; }

ins {
  text-decoration: none; }

del {
  text-decoration: line-through; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

a {
  text-decoration: none;
  color: #040404; }

p {
  margin-bottom: 1.5rem;
  text-align: justify; }

body {
  font-family: "Lekton", "Courier New", Courier, monospace;
  color: #040404;
  line-height: 1.65;
  max-width: 1140px;
  margin: 0 auto;
  width: 100%; }

h1, h2, h3, h4 {
  font-family: "Oswald", "Lucida Console", Monaco, monospace; }

h1 {
  font-size: 2.5rem; }

h2 {
  font-size: 2rem; }

nav ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  justify-content: flex-end; }
nav li {
  margin-right: 30px; }
  nav li a {
    font-family: "Oswald", "Lucida Console", Monaco, monospace;
    font-size: 1.2rem;
    text-transform: uppercase;
    transition: .3s all;
    color: white; }
  nav li a:hover, nav li a:focus, nav li a:active {
    color: #51BEBC; }

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  align-items: stretch;
  width: 100%;
  box-sizing: border-box; }

.header-left {
  box-sizing: border-box;
  position: relative;
  width: 100%;
  margin: 0;
  padding: 20px;
  background-color: #F1DB26;
  color: #51BEBC;
  font-family: "Oswald", "Lucida Console", Monaco, monospace;
  text-transform: uppercase;
  height: 250px; }

.header-right {
  box-sizing: border-box;
  position: relative;
  width: 100%;
  margin: 0;
  padding: 20px;
  color: white;
  background-color: #C9C2B2;
  height: 250px; }

@media (min-width: 800px) {
  .header-left {
    order: 1;
    width: 50%;
    height: 400px;
    padding: 40px; }

  .header-right {
    width: 50%;
    height: 400px;
    padding: 40px;
    order: 2; }

  .title {
    bottom: 40%; } }
.header-right-text {
  font-size: 1.5em;
  position: absolute;
  bottom: 40px; }

.title {
  font-size: 3.5em;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 20%;
  text-align: center; }

.mosaik {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap; }
  .mosaik .square {
    width: 12.5%; }

#projects h1 {
  margin: 40px 0;
  text-align: center; }

.project {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  align-items: stretch;
  width: 100%;
  box-sizing: border-box;
  margin: 0 auto;
  background: #F6F5F3; }
  .project img {
    box-sizing: border-box;
    width: 100%;
    margin: 0 auto; }
  .project figcaption {
    padding: 20px;
    position: relative;
    box-sizing: border-box;
    width: 100%;
    margin: 0; }

@media (min-width: 800px) {
  .project:nth-child(even) figcaption {
    order: 2; }
  .project:nth-child(even) img {
    order: 1; }
  .project:nth-child(odd) figcaption {
    order: 1; }
  .project:nth-child(odd) img {
    order: 2; }
  .project figcaption {
    width: 50%; }
  .project img {
    width: 50%; } }
.about {
  margin-bottom: 40px; }

.about ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  align-items: stretch; }
  .about ul li {
    width: 300px;
    padding: 0 30px 20px 0;
    margin: 0 auto; }
    .about ul li:last-child {
      padding-right: 0; }

.about h1 {
  margin: 40px 0;
  text-align: center; }

.contact h1 {
  margin: 40px 0;
  text-align: center; }

footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  align-items: stretch;
  width: 100%;
  box-sizing: border-box; }

.footer-right {
  box-sizing: border-box;
  position: relative;
  width: 100%;
  margin: 0;
  padding: 20px;
  background-color: #F1DB26;
  color: #51BEBC;
  text-transform: uppercase;
  min-height: 200px; }

.footer-left {
  box-sizing: border-box;
  position: relative;
  width: 100%;
  margin: 0;
  padding: 20px;
  color: #645F4C;
  background-color: #C9C2B2;
  font-family: "Lekton", "Courier New", Courier, monospace; }
  .footer-left p {
    text-align: center; }
  .footer-left form {
    text-align: center; }
  .footer-left button {
    display: block;
    color: white;
    text-transform: uppercase;
    padding: 3px 30px;
    font-family: "Lekton", "Courier New", Courier, monospace;
    background-color: #C9C2B2;
    border: solid 2px #645F4C;
    cursor: pointer;
    font-size: 1.2em;
    margin: 30px auto;
    transition: background-color 0.3s; }
    .footer-left button:hover {
      background-color: #645F4C;
      transition: background-color 0.3s; }
  .footer-left input, .footer-left textarea {
    color: #645F4C;
    background-color: #C9C2B2;
    font-family: "Lekton", "Courier New", Courier, monospace;
    font-size: 120%;
    width: 80%;
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: solid 1px #645F4C;
    vertical-align: bottom; }

.logo-footer {
  width: 50px;
  position: absolute;
  right: 40px;
  top: 40px; }

.copyright {
  position: absolute;
  bottom: 40px;
  left: 40px; }

input:required {
  box-shadow: none; }

input:invalid, textarea:invalid {
  box-shadow: none; }

@media (min-width: 800px) {
  .footer-right {
    width: 50%;
    padding: 40px; }

  .footer-left {
    width: 50%;
    padding: 40px; } }

/*# sourceMappingURL=styles.css.map */
