@import url("https://fonts.googleapis.com/css?family=Lekton|Oswald:400,600&subset=latin-ext");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, table,
caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

:focus {
  outline: 0; }

ins {
  text-decoration: none; }

del {
  text-decoration: line-through; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

a {
  text-decoration: none;
  color: #040404; }

p {
  margin-bottom: 1.5rem;
  text-align: justify; }

body {
  font-family: "Lekton", "Courier New", Courier, monospace;
  color: #040404;
  line-height: 1.65;
  max-width: 1140px;
  margin: 0 auto;
  width: 100%; }

h1, h2, h3, h4 {
  font-family: "Oswald", "Lucida Console", Monaco, monospace; }

h1 {
  font-size: 2.5rem; }

h2 {
  font-size: 2rem; }

nav ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  justify-content: flex-end; }
nav li {
  margin-right: 30px; }
  nav li a {
    font-family: "Oswald", "Lucida Console", Monaco, monospace;
    font-size: 1.2rem;
    text-transform: uppercase;
    transition: .3s all;
    color: white; }
  nav li a:hover, nav li a:focus, nav li a:active {
    color: #51BEBC; }

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  align-items: stretch;
  width: 100%;
  box-sizing: border-box; }

.header-left {
  box-sizing: border-box;
  position: relative;
  width: 100%;
  margin: 0;
  padding: 20px;
  background-color: #F1DB26;
  color: #51BEBC;
  font-family: "Oswald", "Lucida Console", Monaco, monospace;
  text-transform: uppercase;
  height: 250px; }

.header-right {
  box-sizing: border-box;
  position: relative;
  width: 100%;
  margin: 0;
  padding: 20px;
  color: white;
  background-color: #C9C2B2;
  height: 250px; }

@media (min-width: 800px) {
  .header-left {
    order: 1;
    width: 50%;
    height: 400px;
    padding: 40px; }

  .header-right {
    width: 50%;
    height: 400px;
    padding: 40px;
    order: 2; }

  .title {
    bottom: 40%; } }
.header-right-text {
  font-size: 1.5em;
  position: absolute;
  bottom: 40px; }

.title {
  font-size: 3.5em;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 20%;
  text-align: center; }

.mosaik {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap; }
  .mosaik .square {
    width: 12.5%; }

.about ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  align-items: stretch; }
  .about ul li {
    width: 300px;
    padding: 0 30px 20px 0;
    margin: 0 auto; }
    .about ul li:last-child {
      padding-right: 0; }

/*# sourceMappingURL=styles.css.map */
